<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<!-- Application beans -->
	<bean id="myService" class="org.recunit.test.service.FakeService" />
	<bean id="myDao" class="org.recunit.test.dao.FakeDao" />


	<bean id="recUnitPointcut" class="fr.capverszero.recunit.aspect.RecUnitPointCut">
		<constructor-arg><value>c:\temp\db</value></constructor-arg>
	</bean>

	<!-- AOP -->


	
	<aop:config>
		<aop:pointcut id="daoPointcut"
			expression="execution(* org.recunit.test.dao.Dao.*(..))" />
		<aop:aspect id="recUnitAspect" ref="recUnitPointcut">
			<aop:around pointcut-ref="daoPointcut" method="run" />
		</aop:aspect>
	</aop:config>

</beans>